# ========================
# Python
# ========================
__pycache__/
*/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# ========================
# Django
# ========================
*.pot
*.pyc
*.sqlite3

# ========================
# Environment Variables
# ========================
.env
.env.*
!*.example
venv/
env/


# ========================
# Docker
# ========================
*.pid
*.seed
*.pid.lock
docker-data/
**/docker-data/


# ========================
# VSCode / IDE
# ========================
.vscode/
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ========================
# System files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log
logs/

# ========================
# Kraken training
# ========================
Backend/ml_models/kraken_training/Data/
Backend/ml_models/kraken_training/Outputs/


